.navbar-custom {
  background-color: orangered !important;
  color: white;
}

.navbar-custom .nav-link {
  color: #ffffff;
}

.navbar-custom .nav-link:hover {
  color: grey;
}

.btn-signup {
  background-color: white;
  color: gray;
}
#header {
  background-color: wheat;
  height: 100vh;
  color: var(--light);
  background-position: center;
  background-size: cover;
}
#header h1 {
  font-weight: 600;
}
.bank-service {
  background-color: whitesmoke;
  padding: 6rem;
}

.search-container {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}

.search-input {
  padding-right: 3rem;
  border-radius: 50px;
  border: none;
  height: 45px;
  font-size: 1rem;
}
.btn-search {
  background-color: orangered;
  border-radius: 20px;
}

.about {
  margin: 1rem;
  background-color: white;
}

.about p {
  padding: 2px;
}
a {
  text-decoration: none;
}

.main-container {
  background-color: aqua;
}
.trustworthy-section {
  background-color: #f7f8fb;
  padding: 100px 0;
}

.trustworthy-heading {
  font-size: 5rem;
  font-weight: 500;
  color: #e56a2e;
  line-height: 1.1;
  margin-bottom: 0;
}

.trustworthy-text {
  font-size: 1.25rem;
  color: #6c7a93;
  max-width: 480px;
  margin-top: 8rem;
}
@media (max-width: 768px) {
  .trustworthy-heading {
    font-size: 3rem;
    text-align: center;
  }

  .trustworthy-text {
    text-align: center;
    margin-top: 20px;
  }
}
